.Create_cls{
    width: 60%;
    height: 25px;
    // margin: 28px 80.5px 44px 32px;
    // padding: 0 0 292.9px;
    border-radius: 4px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-image: linear-gradient(256deg, #3f9afb 0%, #017bfb 100%);
    color: #ffffff;
}