.image {
    width: 64px;
    height: 42px;
    margin-left: 6px;
    padding-top: 5px;
  }
  
  .image1 {
    width: 16.6px;
    height: 18.8px;
    padding-top: 5px;
    opacity: 0.4;
  }
  
  .box1 {
    width: 100%;
    height: 4rem;
    border-bottom: 3px solid #efb577;
    margin-top: 1px;
  }
  
  .image2 {
    width: 20px;
    height: 21px;
    margin-top: 15px;
  }
  
  .image3 {
    width: 25.4px;
    height: 25.9px;
    margin-top: 10px;
  }
  
  .image4 {
    width: 20px;
    height: 20.8px;
    margin-top: 15px;
  }
  
  .image5 {
    width: 20.6px;
    height: 20px;
    margin-top: 15px;
  }
  
  .image6 {
    width: 25.3px;
    height: 20.3px;
    opacity: 0.4;
  }
  
  .image7 {
    width: 20px;
    height: 23.2px;
    margin-top: 15px;
  }
  
  .image8 {
    width: 20px;
    height: 20px;
    margin-top: 15px;
  }
  
  .image9 {
    width: 23.9px;
    height: 22.6px;
    margin-top: 15px;
    opacity: 0.4;
  }
  
  .image10 {
    width: 20.9px;
    height: 20.6px;
    margin-top: 15px;
    opacity: 0.4;
  }
  
  .image11 {
    width: 16.9px;
    height: 17.6px;
    margin-left: 8px;
    margin-top: 10px;
  }
  
  .highlight {
    background: #ffffff2b;
  }
  
  .settingtools {
    opacity: 0.4;
    font-size: 8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.24px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
  }
  
  .line_setting {
    width: 44px;
    height: 0;
    opacity: 0.6;
    border: solid 1px #707070;
    position: relative;
    bottom: 10px;
  }
  
  .primarytools {
    opacity: 0.4;
    font-size: 8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.24px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
  }
  
  .line_primary {
    width: 44px;
    height: 0;
    opacity: 0.6;
    border: solid 1px #707070;
    position: relative;
    bottom: 10px;
  }