<div id="role-master" class="page-layout carded fullwidth">
    <div class="center">
        <!-- <div class="outer" fxLayout>
            <div class="bg"></div>
            <div>
                <h3 style="margin: 0px;padding-left: 10px;"><b>Role</b></h3>
            </div>
            <div fxFlex align="end">
                <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
            </div>
        </div> -->
        <div fxLayout class="content-card1">
            <div fxFlex="23" class="side-bar" style="background-color: #f5f5f5">
                <div class="sidenav-header">
                    <mat-toolbar>
                        <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
                            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                                    <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                                    <mat-icon class="s-16">search</mat-icon>
                                </div>
                            </div>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
                <div class="sidenav-content" fusePerfectScrollbar fxFlex>
                    <div *ngFor="let role  of AllRoles  | filter: searchText">
                        <div>
                            <div class="mx-8 mb-8 mt-0 p-8 leftCard" (click)="loadSelectedRole(role)"
                                [style.border-left-color]="selectID ==role.RoleID?'#017bfb':'#cccccc'">
                                <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                                    <div fxFlex><strong>{{role.RoleName}}</strong></div>
                                    <div fxFlex align="end">{{role .CreatedOn | date :'dd/MM/yyyy'}}</div>
                                </div>
                                <!-- <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                                    <div fxFlex><strong></strong>{{role.RoleName}}</div>
                                </div> -->
                                <!-- <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                    <div fxFlex><strong>AWB : </strong>{{role .PatnerID}}</div>
                  </div>
                  <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                    <div fxFlex>{{role .Client}}</div>
                  </div> -->
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(AllRoles  | filter: searchText)?.length === 0" class="no-results-message">
                        <span class="pl-12"> No results..</span>
                    </div>
                </div>
                <div class="borderRight1"></div>
            </div>
            <mat-card fxFlex="77" class="side-bar p-0">
                <div class="sidenav-content" fxFlex fxLayout="column">
                    <div fxFlex fxLayout="column" class="p-0 pt-8">
                        <div fxFlex class="px-12 mt-4">
                            <form autocomplete="off" class="normal" fxLayout="column" fxLayoutGap="20px"
                                fxLayoutAlign="start" name="form" novalidate [formGroup]="roleMainFormGroup">

                                <div fxFlex fxLayout="row" fxLayoutGap="40px">

                                    <div fxFlex="50">
                                        <mat-form-field class="pl-8 pr-12" appearance="outline" style="width: 100%;">
                                            <mat-label> Role Name</mat-label>
                                            <input matInput placeholder="Role Name" formControlName="roleName">
                                            <mat-error
                                                *ngIf="roleMainFormGroup.get('roleName').touched && roleMainFormGroup.get('roleName').hasError('required')">
                                                Role
                                                Name required</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxFlex="50">
                                        <mat-form-field class="pl-8 pr-12" appearance="outline" style="width: 100%;">
                                            <mat-label> App Name</mat-label>
                                            <mat-select placeholder="App Name" formControlName="appIDList" multiple
                                                (selectionChange)="OnAppNameChanged()">
                                                <mat-option *ngFor="let mp of AllMenuApps" [value]="mp.AppID">
                                                    {{mp.AppName}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="roleMainFormGroup.get('appIDList').touched && roleMainFormGroup.get('appIDList').hasError('required')">
                                                App Name required</mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                            </form>
                            <div fxLayout>
                                <div fxFlex fxLayoutAlign="end">
                                    <button class="floatBtn" mat-fab style="background-image: linear-gradient(256deg, #3f9afb 100%, #017bfb 0%) !important;"
                                        (click)="ResetControl()">
                                        <mat-icon style="color: white;">add</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-actions class="m-0 pl-12 pr-16 cardActions">
                    <div fxLayout fxFlex fxLayoutAlign="end">
                        <button *ngIf="selectedRole?.RoleID" mat-stroked-button class="DeleteBtn mr-4 mb-8"
                            (click)="DeleteClicked()">Delete</button>
                        <button mat-raised-button class="mr-4 mb-8" (click)="ResetControl()"
                            *ngIf="!selectedRole.RoleID">
                            Clear
                        </button>
                        <button (click)="SaveClicked()" class="SaveBtn" mat-raised-button>
                            {{selectedRole.RoleID?'Update':'Create'}}</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent"
            mode="indeterminate">
        </mat-progress-spinner>
        <div id="overlay" *ngIf="isProgressBarVisibile">
        </div>
    </div>
</div>