<div id="login-history" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <!-- <div> -->
      <!-- <h3 style="margin: 0px;padding-left: 10px;"><b>Login History</b></h3> -->
      <!-- <img style="margin-left: 10px;" src="assets/images/Group 8208.svg">
                <span class="doc-center">Document Center</span> -->
      <!-- </div> -->
      <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <div class=" my-8" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start start"
          style="margin-top: 20px !important;">
          <!-- <span class="digisign">Digital Signature</span>  -->
          <img style="margin-left: 10px;" src="assets/images/Group 8208.svg">
          <span class="doc-center">Login History</span>
        </div>
      </div>
      <div fxFlex align="end">
        <!-- <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span> -->
      </div>
    </div>
    <!-- <div class="px-20">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-around center">
        <div fxFlex="100%">
          <div class="SectionTitle">
            <strong>Login History</strong>
          </div>
        </div>
      </div>
    </div> -->
    <div class="px-20 py-20">
      <div class="content" *ngIf="!isExpanded" @expandCollapse>
        <form autocomplete="off" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" novalidate
          [formGroup]="SearchFormGroup">
          <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center">
            <div fxFlex="30%" class="mr-32">
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput placeholder="UserName" formControlName="UserName">
              </mat-form-field>
            </div>
            <div fxFlex="25%" class="mr-32">
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput placeholder="From Date" [matDatepicker]="picker1" formControlName="FromDate"
                  (dateChange)="DateSelected()">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                  <img style="margin-top: -18px;" matDatepickerToggleIcon src="assets/images/calendar.png">
                  <!-- <mat-icon matDatepickerToggleIcon svgIcon="calendarIcon"></mat-icon> -->
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="25%" class="mr-32">
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput placeholder="To Date" [matDatepicker]="picker2" formControlName="ToDate"
                  (dateChange)="DateSelected()">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                  <img style="margin-top: -18px;" matDatepickerToggleIcon src="assets/images/calendar.png">
                  <!-- <mat-icon matDatepickerToggleIcon svgIcon="calendarIcon"></mat-icon> -->
                </mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <div *ngIf="isDateError" class="DateError">
                To date should not be less than from date
              </div>
            </div>
            <div fxFlex="20" class="ml-44" fxlayoutAlign="start center">
              <button mat-raised-button class="SaveBtn" (click)="SearchClicked()">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div fxLayout="row" class="mt-20" fxLayoutAlign="start center">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-icon class="mr-12" matPrefix>search</mat-icon>
          <input [(ngModel)]="searchText" matInput placeholder="Search" (keyup)="applyFilter($event)">
        </mat-form-field>
        <div fxFlex fxLayoutAlign="end center">
          <mat-form-field appearance="outline" style="min-width: 100px;">
            <mat-select [(ngModel)]="SelectValue">
              <mat-option value="All">All</mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="exportAsXLSX()" class="excelBtn mx-24" mat-stroked-button>
            <img class="excelImg" src="assets/images/excel.png">
          </button>
          <img class="expandImg" src="assets/images/expand.png" (click)="expandClicked()">
        </div>
      </div>
      <div class="tablescroll">
        <table class="table" mat-table [dataSource]="tableDataSource" matSort>
          <ng-container matColumnDef="UserName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
            <td mat-cell *matCellDef="let row;let odd=odd" class="tableLeftBorder pl-0">
              <div fxLayout>
                <!-- <div class="tableCellBorder" [style.background-color]="odd?'#3f9afb':'#d87e39'"></div> -->
                <div fxFlex class="pl-8">{{row.UserName}} </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="LoginTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LoginTime </th>
            <td mat-cell *matCellDef="let row"> {{row.LoginTime | date : 'dd-MM-yyyy hh:mm:ss a'}}</td>
          </ng-container>

          <ng-container matColumnDef="LogoutTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LogoutTime </th>
            <td mat-cell *matCellDef="let row"> {{row.LogoutTime | date : 'dd-MM-yyyy hh:mm:ss a'}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;">
          </tr>
        </table>
      </div>
      <div>
        <mat-paginator [pageSizeOptions]="[5,10,25,50,100,200,500,1000]"></mat-paginator>
      </div>
    </div>

    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>