@import "src/@fuse/scss/fuse";

.attachment-dialog {
    .poppins{
        font-family: Poppins;
        font-weight: 600;
      }
      .mat-dialog-container {
        padding: 0px;
        width:75vw !important;
        overflow-x: hidden;
        border-radius: 4px;
    }
    .mat-dialog-content {
        margin: 0px;
        padding: 0px;
        padding-left: 5px;
        max-height: 80vh;
    }
      .toolbar{
        background-color: #f4f4fb;
        height: 56px;
      }
      .title{
          @extend .poppins;
          font-size: 14px;
          color: #2c2c2e;
      }
      .footer{
        box-shadow: 0 2px 18px 0 rgba(74, 122, 255, 0.38);
        background-color: #fdfdfd;
        height: 56px;
      }
      .savebtn{
        background-color: #1d89fb !important;
        @extend .poppins;
        color: #ffffff !important;
        font-size: 12px;
      }
}
