
<div class="back_bg">
  <div class="box_login">
    <div id="login" class="inner-scroll normal" fxLayout="row" fxLayoutAlign="start">
  
      <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
  
      </div>
  
      <div id="login-form-wrapper" [style.background-color]="'white'" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
  
        <div id="login-form">
          <div class="title">Sign In</div>
          <div class="border"></div>
  
          <div class="subTitel">Sign In to Continue</div>
  
          <form name="loginForm" fxLayout="column" [formGroup]="loginForm" novalidate>
  
            <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="userName">
              <mat-error *ngIf="loginForm.get('userName').hasError('required')">
                User name is required
              </mat-error>
            </mat-form-field>
            <!-- <label>User Name</label>
            <input matInput formControlName="userName" placeholder="Enter UserName" style="    height: 40px;
            margin-top: 10px;
            background-color: antiquewhite;"> -->
            <!-- <div *ngIf="loginForm.get('userName').hasError('required') && loginForm.touched" style="color: red;margin-left: 10px;margin-top: 10px;">
              dueDate is required
            </div> -->
  
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error>
                Password is required
              </mat-error>
            </mat-form-field>
            <!-- <label>Password</label>
            <input matInput formControlName="password" placeholder="Enter Password" style="    height: 40px;
            margin-top: 10px;
            background-color: antiquewhite;"> -->
  
            <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
              fxLayoutAlign="space-between center">
              <span class="forgot-password" (click)="OpenForgetPasswordLinkDialog()">
                Forgot Password?
              </span>
            </div>
  
            <button mat-raised-button  class="submit-button" aria-label="LOGIN" (click)="LoginClicked()">
              <span class="loginButton">LOG IN </span>
            </button>
  
          </form>
          <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent"
            mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
    
  </div>
  </div>
</div>